In [1]:
import os

In [2]:
%pwd

'd:\\Projects\\SpringBoard_Internship\\LLM_Internship\\Analysis'

In [3]:
os.chdir("../")

In [4]:
%pwd

'd:\\Projects\\SpringBoard_Internship\\LLM_Internship'

In [5]:
import pandas as pd
import random
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
data = pd.read_csv(r"Notebook/Sentiment_data.csv")

In [7]:
user_id = ["User_0"+str(i)  for i in range(1,10001)]

In [8]:
if "User_ID" not in data.columns:
    columns = ["User_ID"]+list(data.columns)
    data["User_ID"] = user_id
data_new = data[columns]
data_new

,User_ID,User_Id,Cust_name,Cust_email,Feedback,Date,Care_Taker,Emp_id,Age,Contact,Department,Customer Stay Duration (hrs),Customer_N_visit,Cust amount to be paid,Nps,Dining,Room Preference,Sport Activities,Wellness,Pricing
0,User_01,User_01,Jared,jared3020@example.com,beautiful accomodations stayed hotel santa mar...,2004-01-03,Jarvis,EMP1029,29,9373413477,Laundry,8.9,8,42.70,-85,Vegetaion,King,Aerobics,Fitness Classes,Weekly discount
1,User_02,User_02,Marie,marie3752@example.com,great hotel great location hotel located la ra...,2024-01-21,Malone,EMP2189,67,8659403021,Entertainment,9.2,10,237.41,48,Vegan,Double,Runnin,Spa Treatment,Package deals
2,User_03,User_03,Elijah,elijah8826@example.com,beautiful hotel great location like beautifull...,2006-01-27,Barrera,EMP2375,80,9687107606,E-commerce,7.2,2,272.77,93,Vegetaion,Single,Swimming,Body Scrubs,Last-minute deals
3,User_04,User_04,Sheryl,sheryl5774@example.com,great deal waikiki trip hawaii outrigger luana...,2023-12-21,Montgomery,EMP1904,90,6609849066,Laundry,8.5,2,483.68,24,Vegan,Twin,Runnin,Meditation Classes,All-inclusive
4,User_05,User_05,Jeremy,jeremy8767@example.com,choose airport hotel busy triparound australia...,2006-03-07,Houston,EMP1448,39,655389336,E-commerce,6.7,4,338.33,-5,Vegan,Twin,Aerobics,Sauna,Member-exclusive rates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,User_09996,User_09996,Janice,janice1925@example.com,"absolutely charming, co-worker recently spent ...",2000-01-25,Bennett,EMP2609,41,6685241094,Spa,2.7,2,300.36,95,Non-Vegetarion,Single,Gym Workout,Yoga Sessions,Per-night rate
9996,User_09997,User_09997,Sheryl,sheryl2704@example.com,honest review arrived hotel midnight welcomed ...,2016-03-13,Padilla,EMP2996,84,7897475793,Dining,4.8,2,376.41,31,Non-Vegetarion,Family,Runnin,Body Scrubs,Last-minute deals
9997,User_09998,User_09998,Bryan,bryan7896@example.com,"not believe bad reviews hotel excellent, staye...",2013-12-14,Cross,EMP2322,88,723527640,Gym,3.6,1,355.82,-77,Vegan,Double,Badminton,Body Scrubs,Last-minute deals
9998,User_09999,User_09999,Olivia,olivia5570@example.com,fantastic hotel stayed hotel october 12 octobe...,2007-06-01,Simpson,EMP1287,61,8668850677,Reception,7.9,10,26.60,85,Vegan,Single,Gym Workout,Skin Care Treatments,Mid-range
9999,User_010000,User_010000,Malik,malik3039@example.com,location actually stayed 4 nights april weddin...,2000-07-14,Madden,EMP1472,83,6954994329,Dining,9.1,4,278.74,48,Non-Vegetarion,King,Soccer,Beauty Treatments,Kids stay free

In [37]:
data_new.to_csv(r"Notebook/Sentiment.csv")

In [15]:
activities = {
        'amenities': ['pool', 'spa', 'gym', 'tennis_court', 'business_center'],
        'dining': ['main_restaurant', 'cafe', 'bar', 'room_service', 'buffet'],
        'activities': ['city_tour', 'beach_activity', 'cooking_class', 'yoga', 'golf']
}
list(activities.keys())[0]

'amenities'

In [10]:
def getUserData(data):
    user_data = []
    for id in data.User_ID:
        for i in range(random.randint(10,20)):
            category = random.choice(list(activities.keys()))
            activity = random.choice(activities[category])
            rating = random.randint(1, 5)
            time_spent = random.randint(30, 180)
            user_data.append({
                "User_ID":id,
                "Category":category,
                "Activity":activity,
                "Rating":rating,
                "Time_Spent":time_spent
            })
            
    return pd.DataFrame(user_data)
user_df = getUserData(data_new)
user_df.to_csv(r"Notebook/Interaction.csv")

In [6]:
user_df = pd.read_csv(r"Notebook/Interaction.csv")
user_df[user_df['User_ID'] == "User_01"]['Activity'].value_counts()

Activity
yoga               3
golf               2
city_tour          2
gym                1
spa                1
tennis_court       1
business_center    1
main_restaurant    1
cafe               1
Name: count, dtype: int64

In [13]:
Activity_Ls = []
for i in activities:
    Activity_Ls+=activities[i]
Activity_Ls

['pool',
 'spa',
 'gym',
 'tennis_court',
 'business_center',
 'main_restaurant',
 'cafe',
 'bar',
 'room_service',
 'buffet',
 'city_tour',
 'beach_activity',
 'cooking_class',
 'yoga',
 'golf']

In [7]:
rating_matrix = user_df.pivot_table(index='User_ID', columns="Activity", values="Rating").fillna(0)
rating_matrix

Activity,bar,beach_activity,buffet,business_center,cafe,city_tour,cooking_class,golf,gym,main_restaurant,pool,room_service,spa,tennis_court,yoga
User_ID,,,,,,,,,,,,,,,
User_01,0.0,0.0,0.0,3.0,1.0,2.5,0.0,3.5,1.0,5.0,0.0,0.0,1.0,1.0,2.666667
User_010,2.0,0.0,3.0,1.0,5.0,2.0,0.0,0.0,4.5,3.0,3.5,4.0,0.0,0.0,2.000000
User_0100,2.0,5.0,3.5,5.0,5.0,0.0,5.0,0.0,2.0,2.0,0.0,0.0,4.0,0.0,0.000000
User_01000,1.0,2.0,0.0,3.5,4.0,0.0,3.0,0.0,1.0,0.0,4.0,5.0,1.5,0.0,0.000000
User_010000,5.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
User_09995,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,3.0,0.0,3.0,0.0,3.0,0.000000
User_09996,0.0,5.0,0.0,2.0,0.0,4.0,0.0,0.0,3.5,0.0,2.0,3.0,0.0,3.0,4.000000
User_09997,0.0,2.0,4.0,0.0,0.0,0.0,0.0,3.5,3.0,0.0,0.0,4.0,0.0,0.0,3.000000
User_09998,0.0,4.5,0.0,3.0,4.0,3.5,0.0,3.0,0.0,4.0,4.0,0.0,1.0,0.0,1.333333
User_09999,1.0,0.0,4.0,0.0,3.0,4.0,0.0,0.0,4.0,3.0,0.0,3.0,0.0,3.0,1.500000

In [13]:
def getSimilarUser(user_id, matrix, k = 3):
    user_data = matrix[matrix.index == user_id]
    other_user = matrix[matrix.index != user_id]

    similar_matrix = cosine_similarity(user_data, other_user)[0].tolist()
    user_indices = dict(zip(other_user.index, similar_matrix))
    similar_user = sorted(user_indices.items(), key = lambda x: x[1], reverse = True)

    top_similar_user = similar_user[:k]
    users = [u[0] for u in top_similar_user]
    return users

similar_user_indices = getSimilarUser("User_0100", rating_matrix)   
print("Similar User for User - User_01")
similar_user_indices

Similar User for User - User_01

['User_01120', 'User_06284', 'User_05898']

In [11]:
def getRecommendations(user_id, matrix, similar_user_indices, k = 3):
    similar_users = matrix[matrix.index.isin(similar_user_indices)]
    similar_users = similar_users.mean(axis = 0)
    similar_users_df = pd.DataFrame(similar_users, columns = ['mean'])

    user_df = matrix[matrix.index == user_id].T
    user_df.columns = ['ratings']
    user_df = user_df[user_df['ratings'] == 0]

    unseen_data = user_df.index.tolist()
    similar_user_data = similar_users_df[similar_users_df.index.isin(unseen_data)].sort_values(by = 'mean', ascending = False)

    recommonded_activity = similar_user_data.head(k)

    return recommonded_activity.index.tolist()

recommendations = getRecommendations("User_01", rating_matrix, similar_user_indices)
print("Recommended for you: \n", recommendations)

Recommended for you:
 ['beach_activity', 'cooking_class', 'bar']

In [17]:
getRecommendations("User_01",rating_matrix, similar_user_indices)

['beach_activity', 'cooking_class', 'bar']

In [18]:
import MySQLdb


db = MySQLdb.connect(
    host = 'localhost',
    user = 'root',
    database = 'mydemo'      # Name of the database
)

cursor = db.cursor()

In [22]:
user_id = input("Enter user Id")
c = 0
while(True):
    c = int(input(f"""1-->{list(activities.keys())[0]}
          2-->{list(activities.keys())[1]}
               3-->{list(activities.keys())[2]}
            4--> Exit"""))
    match c:
        case 1:
            cat = list(activities.keys())[0]
            pref = input(f"""Choose any Preferances: \n{cat}""")
            print("Preferance added")
        case 2:
            cat = list(activities.keys())[1]
            pref = input(f"""Choose any Preferances: \n{activities[cat]}""")
            print("Preferance added")    
        case 3:
            cat = list(activities.keys())[2]
            pref = input(f"""Choose any Preferances: \n{cat}""")
            print("Preferance added")
        case 4:break
    
    
exist = cursor.execute("Select * from interaction where User_id = %s",(user_id,))

Preferance added

ValueError: invalid literal for int() with base 10: ''

In [42]:
def insert():
    ls = []
    c = 0
    for i in user_df['User_ID'].unique()[:10]:
        ls.append(list(user_df[user_df["User_ID"] == i].iloc[0].values))
    for i in ls:
        cursor.execute("INSERT INTO interaction values(%s, %s, %s, %s, %s)",i )
        c += cursor.rowcount
    print("Total rows inserted: ", c)
    db.commit()

In [23]:
cat = list(activities.keys())[0]
for i in range(len(activities[cat])):
    print(f"{i+1} ")

1
2
3
4
5

1
1
1
1
1
1
1
1
1
1