In [1]:
import os

In [2]:
%pwd

'd:\\Projects\\SpringBoard_Internship\\LLM_Internship\\Analysis'

In [3]:
os.chdir("../")

In [4]:
%pwd

'd:\\Projects\\SpringBoard_Internship\\LLM_Internship'

In [5]:
import pandas as pd
import random
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
data = pd.read_csv(r"Notebook/Sentiment_data.csv")

In [7]:
user_id = ["User_0"+str(i)  for i in range(1,10001)]

In [8]:
if "User_ID" not in data.columns:
    columns = ["User_ID"]+list(data.columns)
    data["User_ID"] = user_id
data_new = data[columns]
data_new

,User_ID,Cust_name,Cust_email,Feedback,Date,Care_Taker,Emp_id,Age,Contact,Department,Customer Stay Duration (hrs),Customer_N_visit,Cust amount to be paid,Nps,Dining,Room Preference,Sport Activities,Wellness,Pricing
0,User_01,Jared,jared1149@example.com,beautiful accomodations stayed hotel santa mar...,2020-02-04,Jarvis,EMP1581,29,8197691703,E-commerce,8.0,2,389.17,2,Non-Vegetarion,Twin,Runnin,Yoga Sessions,Package deals
1,User_02,Marie,marie5383@example.com,great hotel great location hotel located la ra...,2009-07-07,Malone,EMP2127,85,7386609540,Maintenance,3.7,9,464.56,19,Non-Vegetarion,King,Golf,Herbal Therapy,Weekly discount
2,User_03,Elijah,elijah3812@example.com,beautiful hotel great location like beautifull...,2013-06-20,Barrera,EMP2121,51,9355114579,Customer Service,8.4,4,252.29,21,Non-Vegetarion,King,Aerobics,Body Scrubs,Last-minute deals
3,User_04,Sheryl,sheryl5962@example.com,great deal waikiki trip hawaii outrigger luana...,2019-12-17,Montgomery,EMP1000,86,8261513132,Laundry,3.4,7,128.18,50,Non-Vegetarion,Family,Gym Workout,Skin Care Treatments,Kids stay free
4,User_05,Jeremy,jeremy1802@example.com,choose airport hotel busy triparound australia...,2022-10-22,Houston,EMP2578,28,9983623309,Photography,9.9,10,90.48,29,Vegan,Suite,RugbyCycling,Steam Room,Budget
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,User_09996,Janice,janice4931@example.com,"absolutely charming, co-worker recently spent ...",2016-10-15,Bennett,EMP1165,51,6438973135,Gym,9.5,3,62.75,77,Vegan,King,Volleyball,Facials,Mid-range
9996,User_09997,Sheryl,sheryl5678@example.com,honest review arrived hotel midnight welcomed ...,2017-06-21,Padilla,EMP1363,28,8274481104,Hospitality,1.1,10,46.40,-70,Non-Vegetarion,Family,Basketball,Meditation Classes,Weekly discount
9997,User_09998,Bryan,bryan4564@example.com,"not believe bad reviews hotel excellent, staye...",2006-11-18,Cross,EMP2950,48,9410306199,E-commerce,1.4,10,374.98,80,Non-Vegetarion,Double,Golf,Beauty Treatments,Mid-range
9998,User_09999,Olivia,olivia5882@example.com,fantastic hotel stayed hotel october 12 octobe...,2010-04-17,Simpson,EMP2048,72,832461243,Advertising,8.4,7,426.01,22,Vegetaion,Suite,Yoga,Fitness Classes,Senior discounts
9999,User_010000,Malik,malik8982@example.com,location actually stayed 4 nights april weddin...,2014-04-03,Madden,EMP1393,39,7660212569,Gym,4.5,4,354.30,70,Non-Vegetarion,Twin,Tennis,Fitness Classes,All-inclusive

In [37]:
data_new.to_csv(r"Notebook/Sentiment.csv")

In [8]:
activities = {
        'amenities': ['pool', 'spa', 'gym', 'tennis_court', 'business_center'],
        'dining': ['main_restaurant', 'cafe', 'bar', 'room_service', 'buffet'],
        'activities': ['city_tour', 'beach_activity', 'cooking_class', 'yoga', 'golf']
}

In [10]:
def getUserData(data):
    user_data = []
    for id in data.User_ID:
        for i in range(random.randint(10,20)):
            category = random.choice(list(activities.keys()))
            activity = random.choice(activities[category])
            rating = random.randint(1, 5)
            time_spent = random.randint(30, 180)
            user_data.append({
                "User_ID":id,
                "Category":category,
                "Activity":activity,
                "Rating":rating,
                "Time_Spent":time_spent
            })
            
    return pd.DataFrame(user_data)
user_df = getUserData(data_new)
user_df.to_csv(r"Notebook/Interaction.csv")

In [7]:
user_df = pd.read_csv(r"Notebook/Interaction.csv")
user_df[user_df['User_ID'] == "User_01"]['Activity'].value_counts()

Activity
buffet             2
main_restaurant    2
tennis_court       2
pool               1
beach_activity     1
spa                1
business_center    1
city_tour          1
golf               1
gym                1
yoga               1
Name: count, dtype: int64

In [12]:
Activity_Ls = []
for i in activities:
    Activity_Ls+=activities[i]
Activity_Ls

['pool',
 'spa',
 'gym',
 'tennis_court',
 'business_center',
 'main_restaurant',
 'cafe',
 'bar',
 'room_service',
 'buffet',
 'city_tour',
 'beach_activity',
 'cooking_class',
 'yoga',
 'golf']

In [13]:
rating_matrix = user_df.pivot_table(index='User_ID', columns="Activity", values="Rating").fillna(0)
rating_matrix

Activity,bar,beach_activity,buffet,business_center,cafe,city_tour,cooking_class,golf,gym,main_restaurant,pool,room_service,spa,tennis_court,yoga
User_ID,,,,,,,,,,,,,,,
User_01,0.0,5.000000,0.0,1.000000,1.0,0.0,3.0,0.0,0.0,0.0,5.000000,3.250000,0.0,0.000000,0.0
User_010,1.0,0.000000,1.0,0.000000,5.0,2.0,3.0,2.0,1.0,1.0,0.000000,4.000000,3.0,3.000000,2.5
User_0100,4.0,3.333333,0.0,3.000000,0.0,3.0,0.0,3.0,5.0,0.0,0.000000,4.000000,0.0,0.000000,0.0
User_01000,4.0,5.000000,0.0,0.000000,5.0,0.0,0.0,0.0,2.0,5.0,4.000000,0.000000,4.0,5.000000,2.0
User_010000,2.0,0.000000,0.0,0.000000,0.0,0.0,1.0,3.0,1.0,2.0,3.000000,3.000000,3.0,0.000000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
User_09995,0.0,2.000000,1.0,1.833333,3.5,0.0,0.0,5.0,4.5,5.0,4.000000,2.333333,0.0,2.000000,2.0
User_09996,0.0,2.000000,0.0,0.000000,3.5,3.0,0.0,0.0,5.0,2.0,0.000000,0.000000,2.5,2.000000,1.0
User_09997,0.0,2.000000,0.0,4.000000,2.0,4.0,2.0,0.0,4.0,3.0,0.000000,1.500000,4.0,5.000000,3.0
User_09998,3.0,0.000000,0.0,2.333333,4.0,1.5,3.0,0.0,5.0,0.0,2.333333,0.000000,3.0,2.666667,0.0
User_09999,3.0,0.000000,0.0,0.000000,0.0,0.0,5.0,4.5,1.5,1.0,1.000000,0.000000,4.0,0.000000,3.0

In [14]:
def getSimilarUser(user_id, matrix, k = 3):
    user_data = matrix[matrix.index == user_id]
    other_user = matrix[matrix.index != user_id]

    similar_matrix = cosine_similarity(user_data, other_user)[0].tolist()
    user_indices = dict(zip(other_user.index, similar_matrix))
    similar_user = sorted(user_indices.items(), key = lambda x: x[1], reverse = True)

    top_similar_user = similar_user[:k]
    users = [u[0] for u in top_similar_user]
    return users

similar_user_indices = getSimilarUser("User_0100", rating_matrix)

In [34]:
def getRecommendations(user_id, matrix, similar_user_indices, k = 3):
    similar_users = matrix[matrix.index.isin(similar_user_indices)]
    similar_users = similar_users.mean(axis = 0)
    similar_users_df = pd.DataFrame(similar_users, columns = ['mean'])

    user_df = matrix[matrix.index == user_id].T
    user_df.columns = ['ratings']
    user_df = user_df[user_df['ratings'] == 0]

    unseen_data = user_df.index.tolist()
    similar_user_data = similar_users_df[similar_users_df.index.isin(unseen_data)].sort_values(by = 'mean', ascending = False)

    recommonded_activity = similar_user_data.head(k)

    return recommonded_activity.index.tolist()

getRecommendations("User_0100",rating_matrix, similar_user_indices)

['spa', 'tennis_court', 'main_restaurant']

In [35]:
getRecommendations("User_01",rating_matrix, similar_user_indices)

['gym', 'bar', 'golf']